<p class="w-full subtitle text-center">
  <span class="pi pi-list-check"></span>&nbsp;{{ validationTitle }}
</p>
<p-scroller
  [items]="errors"
  [itemSize]="50"
  scrollHeight="{{ errors.length * 50 }}{{'px'}}"
  styleClass="w-full border-1 surface-border">
  <ng-template pTemplate="item" let-item let-options="options">
    <div class="flex align-items-center p-2" [ngClass]="{ 'surface-ground': options.odd }" style="height: 50px;">
      &nbsp;<span class="color-maroon">&cross;</span>&nbsp;{{ item }}
    </div>
  </ng-template>
</p-scroller>
